<a href="https://colab.research.google.com/github/GoTudering/Scientific-computing-and-Deep-learning/blob/main/%EA%B3%BC%ED%95%99%EA%B3%84%EC%82%B0%EA%B3%BC_%EB%94%A5%EB%9F%AC%EB%8B%9D_1_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Numbers
The main numeric type in Python are intergers, floating point nmbers (or floats) and complex numbers. The syntax for arithetic operators are: addition `+`, subtraction `-`, multiplication `*`, division `/` and exponentiation `**`.

#Integers
Add integers:

In [1]:
8 + 12

20

Subract integers:

In [2]:
2019 - 21

1998

Multiply integers:

In [3]:
45 * 11

495

Divide integers (and notice that division of integers always returns a float)

In [4]:
100 / 4

25.0

Compute powers of integers:

In [6]:
2**5

32

Use the bulit-in function `type()` to verify the type of a Python object:

In [7]:
type(42)

int

#Floating Point Numbers
A floating point number (or float) is a real number written in decimal form. Python stores floats and integers in different ways and if we combine integers and floats using arithmetic operations the result is always a float.

Approximate $\sqrt 2$

In [8]:
2**0.5

1.4142135623730951

Approximate $\sqrt{2π}$

In [10]:
2 * 3.14159

6.28318

Use scientific notation to create 0.00001:

In [11]:
1e-5

1e-05

Again, use the `type()` function to verify the type of a number:

In [12]:
type(42)

int

In [13]:
type(42.0)

float

#Complex Numbers
Use the bulit-in function `complex()` to create a complex number in Python on use the letter `j` for $j \, = \, \sqrt{-1}$. The built-in function `complex()` takes 2 parameters defining the real and imaginary part of the complex number.
<br/><br/>
Create the complex number 1+$j$:

In [15]:
complex(1,1)

(1+1j)

Add compldx numbers:

In [16]:
(1 + 2j) + (2 - 3j)

(3-1j)

Multiply complex numbers:

In [17]:
(2 - 1j) * (5 + 2j)

(12-1j)

Use the `type()` functon to verify the type of a number:

In [18]:
type(2 - 7j)

complex

#Arithmetic Operators
The syntax for arithmetic operators in Python are:

|**Operator**|**Description**|
|:---:|:---:|
|+|addition|
|-|subtraction|
|*|multiplication|
|/|division|
|**|exponentiation|
|%|remainder (or modulo)|
|//|integer division|

Notice that division of integers always returns a float:

In [19]:
4 / 3

1.3333333333333333

Even if the mathematical result is an integer:

In [20]:
4 / 2

2.0

Use parentheses to group combinations of arithmetic operations:

In [21]:
5 * (4 + 3) - 2

33

A positive integer power of an iteger is again an integer:

In [22]:
2**4

16

A negative integer power of an integer is a float:

In [23]:
2**(-1)

0.5

An exponent involving a float is a float:

In [24]:
9**0.5

3.0

The remainder operator computes the remainder of division of integers:

In [25]:
11 % 4

3

Integer division is:

In [26]:
11 // 4

2

<h1>Examples<h1>
<h2>Taylor Approximation<h2>

The [Taylor series](https://en.wikipedia.org/wiki/Taylor_series) of the exponential function $e^x$ is:
$$
e^x \, = \, ∑\limits_{k=0}^∞ \frac{x^k}{k!}
$$

Compute the Taylor polynomial of degree 5 evaluated at $x\,=\,1$ to find an approximation of $e$
$$
e\,=\,\frac{1}{0!}\,+\,\frac{1}{1!}\,+\,\frac{1}{2!}\,+\,\frac{1}{3!}\,+\,\frac{1}{4!}\,+\,\frac{1}{5!}
$$

In [27]:
1 + 1 + 1/2 + 1/(3*2) + 1/(4*3*2) + 1/(5*4*3*2)

2.7166666666666663

#Ramanujan's Pi Formula
[Srinivasa Ramanujan](https://en.wikipedia.org/wiki/Srinivasa_Ramanujan) discovered the following beautiful (and very rapidly converging) series representation of $π$:
$$
\frac{1}{\pi}\,=\,\frac{2\sqrt{2}}{99^2}\sum\limits_{k=0}^{∞} \frac{(4k)!}{k!^4} \frac{1103+26390k}{396^{4k}}
$$
Let's find an approximation of $\pi$ by computing the reciprocal of the sum of the first 3 terms of the series:
$$
\pi \, \approx \, \frac{99^2}{2\sqrt{2}}\frac{1}{(1103+4!\frac{1103+26390}{396^4}+\frac{8!}{2^4}\frac{11033+26390×2}{396^8})}
$$

In [28]:
99**2 / (2 * 2**0.5) / (1103 + 4*3*2 * (26390 + 1103) / 396**4 + 8*7*6*5*4*3*2 / 2**4 * (26390*2 + 1103) / 396**8)

3.141592653589793

These are exactly the first 16 digits of $\pi$

#Exercises
**Exercise 1.** The [Taylor series](https://en.wikipedia.org/wiki/Taylor_series) of $cos$ $x$ is:
$$
cos\,x\,=\,\sum\limits_{k=0}^{∞} (-1)^k\frac{x^{2k}}{(2k)!}
$$
Compute the Taylor polynomial of degree 6 evaluated at $x\,=\,2$:
$$
cos(2)\,≈\,1\,-\,\frac{2^2}{2!}\,+\,\frac{2^4}{4!}\,-\,\frac{2^6}{6!}
$$
<br>
**Exercise 2.** The [Riemann zeta function](https://en.wikipedia.org/wiki/Riemann_zeta_function) is the infinite series:
$$
ζ(s)\,=\,\sum\limits_{n=1}^∞\frac{1}{n^s}
$$
and is intimately related to prime numbers by the [Euler product formula](https://en.wikipedia.org/wiki/Euler_product)
$$
\sum\limits_{n=1}^∞\frac{1}{n^s}=∏\limits_p(\frac{1}{1-p^(-s)})
$$
where the product is over all primes $p\,=\,2,\,3,\,5,\,7,\,11,\,13,⋯$
<br>
Compute the 5th partial sum for $s\,=\,2$
$$
1\,+\,\frac{1}{2^2}\,+\,\frac{1}{3^2}\,+\,\frac{1}{4^2}\,+\,\frac{1}{5^2}
$$
Compute the 5th partial roduct for $s\,=\,2$:
$$
(\frac{1}{1-2^{-2}})(\frac{1}{1-3^{-2}})(\frac{1}{1-5^{-2}})(\frac{1}{1-7^{-2}})(\frac{1}{1-11^{-2}})
$$
Given [Euler's special value formula](https://en.wikipedia.org/wiki/Basel_problem):
$$
ζ(2)\,=\,\frac{\pi^2}{6}
$$
which converges more quickly: the infinite series or product?
<br>
**Exercise 3.**The [continued fraction](https://en.wikipedia.org/wiki/Continued_fraction) for $\sqrt2$ is:
$$
\sqrt2\,=\,1+\frac{1}{2+\frac{1}{2+\frac{1}{2+\frac{1}{2+\ddots}}}}
$$
Compute the following (partial) continued fraction to approximate $\sqrt2$:
$$
\sqrt2\,≈\,1+\frac{1}{2+\frac{1}{2+\frac{1}{2+\frac{1}{2}}}}
$$
<br>
**Exercise 4.** Suppose `type(x)` is `int` and `type(y)` is `float`. Determine:

- `type(x / y)` if `y` is nonzero
- `type(x + y)`
- `type(x + y)`
<br>
**Exercise 5.** Suppose `type(x)` and `type(y)` are `int`. Determine:

- `type(x / y)` if `y` is nonzero
- `type(x + y)`
- `type(x + y)`

###Variables
Just like the familiar variables $x$ and $y$ in mathematics, we use variables in programming to easily manipulate values. The assignment operator `=` assigns values to variables in Python. Choose descriptive varibale names and avoid special Python reserved words.

##Assign Values to Variables
Assign a value to a variable using the assignment operator `=`. For example, assign the integer $2$ to the variable `x`:

In [1]:
x = 2

The assignment operator does not produce any ouput and so the cell abovce does not porduce any output in a Jupyter notebook. Use the built-in function `print` to display the value assigned to a variable:

In [2]:
print(x)

2

Compute new values using variables and operators:

In [4]:
1 + x + x**2 + x**3

15

Use the built-in function `type` to verify the datatype of the value assigned to a variable:

In [5]:
pi = 3.141592
type(pi)

float

##Naming Conventions
We can use any set of letters, numbers and underscores to make variable names however a variale name cannot begin with a number. There are many different kinds of naming conventions and we refer to the [Style Guide for Python Code(PEP8)](https://peps.python.org/pep-0008/) for a summary.
<br>
<br>
In this book we use `lower_case_with_underscores` variable names and single lowercase letter variable names such as `x`. It is good practivce to use descriptive variable names to make your code more readable for ohter people.
<br>
<br>
For example, the distance from Vancouver to Halifax along the Trans-Canada Highway is approximately 5799 kilometres. We write the following code to convert this value to miles:

In [7]:
distance_km = 5799
miles_per_km = 0.6214
distance_miles = distance_km * miles_per_km
print(distance_miles)

3603.4986

#Names to Avoid
It is good practice to use variable names which describe the value assigned to it. However there are words that we should not use as variable names because these words already have special meaning in Python.

#Reserved Words
Summarized below are the [reserved words in Python 3](https://realpython.com/lessons/reserved-keywords/). Python will raise an error if you try to assign a value to any of these keywords and so you must avoid these as variable names.

|`False`|`class`|`finally`|`is`|`return`|
|:-:|:-:|:-:|:-:|:-:|
|`None`|`continue`|`for`|`lambda`|`try`|
|`True`|`def`|`from`|`nonlocal`|`while`|
|`and`|`del`|`golba`|`not`|`with`|
|`as`|`elif`|`if`|`or`|`yield`|
|`assert`|`else`|`import`|`pass`|`break`|
|`except`|`in`|`raise`|||

##Built-in Function Names
There are several functions which are included in the standard Python library. Do *not* use the names of these functions as variable names otherwise the reference to the built-in function will be lost. For example, do not us `sum`, `min`, `list` or `sorted` as a variable name. See the full list of [builtin functions](https://docs.python.org/3/library/functions.html).

##Jupyter Magic: whos
The Jupyter magic command [whos](http://ipython.readthedocs.io/en/stable/interactive/magics.html#magic-whos) lists all variables in the current Jupyter notebook and their types.

In [8]:
x = 2
pi = 3.14159
distance_km = 5799
miles_per_km = 0.6214
distance_miles = distance_km * miles_per_km

In [9]:
whos

Variable         Type     Data/Info
-----------------------------------
distance_km      int      5799
distance_miles   float    3603.4986
miles_per_km     float    0.6214
pi               float    3.14159
x                int      2

#Exercises
**Exercise 1.** True or False: Python does not allow assigning a value to variable name which is already a builtin Python function such as `sum`, `min`, `max`.